.nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 60px;
  padding: 20px;
  background-color: #242830;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.nav ul li {
  margin: 5px 15px;
  font-size: 18px;
  font-weight: 600;
}
.avatar {
  position: absolute;
  left: 3rem;
}
